<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Register_Page"
            android:exported="false"
            android:label="@string/title_activity_register_page"
            android:theme="@style/Theme.ShopIt" />
    </application>

</manifest>